.main-logo {
    background-image: url("https://raw.githubusercontent.com/Seprijohnds/Project-Portfolio-John/main/assets/favpic.jpg");
    background-size: cover;
    background-position: center;
}
.main-logo:hover {
    background-image: url("https://raw.githubusercontent.com/Seprijohnds/Project-Portfolio-John/main/assets/favpic.jpg");
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.wall-p {
    background-image: url("https://raw.githubusercontent.com/Seprijohnds/Project-Portfolio-John/main/assets/torii.jpg");
    background-size: cover;
    background-position: center;
    z-index: 9;
    width: 100%;
    height: 100vh;
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.port-img {
    background-image: url("https://raw.githubusercontent.com/Seprijohnds/Project-Portfolio-John/main/assets/favpic.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

.welcome-text {
    z-index: 99;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.animated-port {
    animation: fadeIn 2s infinite alternate;
}

.animated-port:hover {
    animation: fadeIn 2s infinite alternate;
    color: #1d4ed8; /* Tailwind's blue-700 */
}

.animated-port p {
    animation: fadeIn 10s infinite;
    color: #1d4ed8; /* Tailwind's blue-700 */
}
